body {
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    background: #222526;
    color: #242424;
    font-family: Open Sans,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Oxygen,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

a {
    text-decoration: none;
}

green {
  #10c11d
}

header {
  height: 90px;
  position: fixed;
  background: #1E1F20;
  display: block;
  width: 100%;
}

.header-wrapper {
  padding: 0 50px;
  height: 90px;
  display: flex;
}

.header-wrapper-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-left {
  display: flex; 
}

.header-logo-link {
  display: flex;
}

.header-left-logo {
  margin-right: 15px;
  position: relative;
  padding-right: 25px;
}

.header-left-logo::before {
    content: "";
    position: absolute;
    display: block;
    width: 1px;
    height: 32px;
    background: #454545;
    right: 0;
    top: calc(50% - 14.5px);

}

.header-left-logo-img {
  width: 150px;
  height: 90px;
}

.header-left-logo-img:hover {
  transform: scale(1.02);
}

.header-left-route {
  display: flex;
  align-items: center;
}

.header-left-itm {
    color: #fff;
    fill: #fff;
    margin: 0 8px;
    display: flex;
    align-items: center;
    font-weight: 600;
    height: 100%;
    text-transform: uppercase;
    cursor: pointer;  
}

.header-left-itm-svg {
  margin-right: 8px;
  height: 27px;
  width: 27px;
}




.header-right {
  display: flex;
  margin-right: 65px;
}

.header-user-wrap {
  margin-left: 15px;
  display: flex;
}

.header-user-balance {
  display: flex;
  padding: 0 15px;
  border-left: solid 1px #454545;
  border-right: solid 1px #454545;
  height: 32px;
  align-items: center;
}

.user-balance {
  font-weight: 700;
  font-size: 14px;
  line-height: 161%;
  margin-right: 12px;
  color: #fff;
}

.user-balance-currency {
  font-size: 15px;
}

.header-user-balance-deposit-wrap {
    width: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .3s ease-in-out;
    background: #668F3D;
    color: #fff;    
    border-radius: 4px;
}

.header-user-balance-deposit {
  font-weight: 700;
  font-size: 18px;
  height: 25px;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.3;
}

.header-user-info {
  display: flex;
}

.header-user-avatar {
  width: 32px;
  height: 32px;
  margin: 0 10px;
  border-radius: 20px;
}

.header-user-avatar-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: solid 1px #474e56;
}

.header-user-nickname-svg-wrap {
  display: flex;
  cursor: pointer;
}

.header-user-nickname-wrap {
    max-width: 95px;
    overflow: hidden;
    display: flex;
}

.header-user-nickname {
    display: flex;
    font-weight: 700;
    font-size: 14px;
    line-height: 0px;
    margin-right: 12px;
    align-items: center;
    letter-spacing: .01em;
    color: #fff;
   /* border-bottom: 1px dotted; */
}

.header-user-info-svg-wrap {
  display: flex;
  align-items: center;
  margin-left: 7px;
}


.header-user-info-svg {
  width: 10px;
  height: 6px;
}

.header-right-itm {
  margin: 0 6px;
  display: flex;
}

.header-right-itm-link {
  display: flex;
}

.header-right-itm-svg {
  margin: 0 6px;
  display: flex;
  align-items: center;
}

.header-right-itm-text {
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 0px;
  align-items: center;
  letter-spacing: .01em;
  color: #fff;
  text-transform: uppercase;
}

.header-cart-wrap {
  position: absolute;
  right: 0;
  width: 75px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 0 1.4375rem;
  border: 0;
  background: #6aa334 linear-gradient(60deg,#8ec73f,#369348);
  color: #fff;
  appearance: none;
  cursor: pointer;
}

.header-cart-wrap::before {
  content: "";
  position: absolute;
  cursor: default;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-left-color: #1e1f20;
  border-width: 2.8125rem 0 2.8125rem 2.1875rem;
}

.header-cart-svg-wrap {
  width: 32px;
  height: 32px;
  fill: #fff;
}

.header-cart-count {
  position: absolute;
  width: 2rem;  
  top: 20px;
  font-weight: 700;
  right: 9px;
  line-height: 1;
  text-align: center;
}


@media (max-width: 1300px) {
  .header-left-itm {
    
    font-size: 13px;
  }
  .header-right-itm-text {
    font-size: 12px;
  }
}

@media (max-width: 1250px) {
  .header-left-logo-img {
    width: 130px;
  }
  .header-wrapper {
    padding-left: 20px;
  }
  .header-cart-count {
    right: 2px;
  }
  .header-cart-wrap {
    width: 60px;
  }
  .header-right {
    margin-right: 40px;
  }
  .header-left-logo {
    margin-right: 8px;
    padding-right: 20px;
  }
}










main {
  padding-top: 90px;
}