body {
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    background: #222526;
    color: #242424;
    font-family: Open Sans,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Oxygen,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
