body {
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    background: #222526;
    color: #242424;
    font-family: Open Sans,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Oxygen,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

a {
    text-decoration: none;
}

header {
  background: #111213;
  color: #f3f3f3;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 5px 30px;
  border-bottom: solid 1px #2d2d2d;
}

.main {
  height: 850px;
  width: 100%;
  background-color: rgba(0,0,0,.5);
  justify-content: center;
  display: flex;
  align-items: center;
  color: #fff;
}

.backgroundImg {
  width: 100%;
  height: 800px;
}


footer {
  border-top: solid 1px #fff;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  padding: 15px 0;
}